{% extends 'base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'css/app_learningModules_styles.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="row gy-5">
    <div class="col overflow-auto">
      <h2>{{ module.title }}</h2>
      <p>{{ module.description }}</p>
      <div id="surveyElement"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/json.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/app_learningModules_scripts.js' %}"></script>
{% endblock %}
